.container {
  display: block;
  position: relative;
  height: 100%;
  overflow-y: scroll;
  background-color: #FFFFFF;

  .closeButton {
    display: flex;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #434A56;
    top: 30px;
    right: 20px;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    padding: 30px 20px;
    box-sizing: border-box;

    .metaWrap {
      .name {
        font-size: 24px;
        line-height: 33.6px;
        color: #434A56;
      }

      .continent {
        font-size: 16px;
        line-height: 12px;
        color: #A9B0BC;
        margin-top: 6px;

        .dot {
          margin: 0 3px;
        }
      }
    }

    .buttonWrap {
      align-self: center;

      .shareButton {
        padding: 8px 14px;
        color: #6B8BFF;
        size: 16px;
        line-height: 30px;

        background-color: #F2F5FF;
        border-radius: 14px;
      }
    }
  }

  .infos {
    padding: 38px 20px 108px;

    .info {
      margin-bottom: 80px;
    }

    .title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      text-align: left;
    }

    .referenceBoxWrap {
      margin-top: 24px;

      .referenceBox {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .tourOfficeWrap {
      margin-top: 80px;

      .description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #A9B0BC;
        margin-top: 8px;
        margin-bottom: 24px;
      }
    }

    .notice {
      margin-top: 80px;

      .noticeText {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: #C6CAD2
      }
    }
  }
}
