.circle {
    background-color: #7EE3A0;
    width: 650px;
    height: 650px;
    border-radius: 400px;
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
    box-sizing: border-box;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}
