.dropDownFilter {
  font-size: 14px;
  line-height: 16.8px;
  color: #5A6272;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  .triangle {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #A9B0BC;
    margin-left: 4px;
  }
}
