.container {
  display: flex;
  position: relative;
  max-width: 375px;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  margin: 0 auto;
  background-color: #6B8BFF;

  .inputWrap {
    margin: 20px;
  }
}
