@mixin animation($delay, $duration, $name) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name
}

@mixin keyframe($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}

@include keyframe(moveSymbol) {
  from {
    transform: translateX(-300%);
  }

  to {
    transform: translateX(0);
  }
}

@include keyframe(moveCharacter) {
  from {
    transform: translateX(calc(100%));
  }

  to {
    transform: translateX(0);
  }
}


.container {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #6B8BFF;
  width: 100%;
  height: 100%;

  .filterLayout {
    z-index: 3;
  }

  .mainText {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: establishRetrosansOTF;
  }

  .subText {
    font-size: 14px;
    line-height: 16.8px;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
  }

  .mainWrap, .infoWrap {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .topLabelArea {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 28px;
    height: 56px;
    padding: 20px 20px 0;
    box-sizing: border-box;

    transition: opacity 0.3s linear 2s;
  }

  .mainImageArea {
    position: absolute;
    width: 100%;
    height: 450px;
    padding: 0 40px;
    box-sizing: border-box;

    .topAnimationWrap {
      position: relative;
      width: 100%;
      height: 100%;

      .travelButton {
        display: flex;
        flex-direction: row;
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        background: #FFFFFF;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        border-radius: 30px;

        .text {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #6B8BFF;
          margin-right: 8px;
          margin-top: 2px;
        }
      }

      .symbol {
        position: absolute;
        left: 117px;
        bottom: 0;
        z-index: 2;
        @include animation(0s, 4s, moveSymbol);
      }

      .character {
        position: absolute;
        right: 23px;
        bottom: 0;
        z-index: 2;
        @include animation(0s, 4s, moveCharacter);
      }
    }
  }

  .infoWrap {
    background: #FFFFFF;
    padding: 40px 20px 20px;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .infoTitle {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 34px;
      color: #434A56;
    }

    .infoList {
      margin-top: 40px;

      .referenceBox {
        padding: 0;
        box-shadow: none;
        margin-bottom: 20px;
      }
    }
  }

  .wrap {
    width: 100%;
    height: 100%;
    position: relative;

    .bottomSlider {
      position: absolute;
      top: 450px;
      min-height: 100%;
      padding: 24px 20px 59px;
      box-sizing: border-box;
      z-index: 3;

      .topFilter {
        display: flex;
        flex-direction: row;

        .filter {
          margin-right: 12px;
        }

        .filterButton {
          background-color: #6B8BFF;
        }

        .noneFilterButton {
          background-color: #FFFFFF;
        }
      }

      .infoArea {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .totalCount {
          font-size: 14px;
          line-height: 16.8px;
          color: #5A6272;
        }
      }

      .itemList {
        margin-top: 20px;

        a {
          text-decoration: none;
        }

        .item {
          margin-bottom: 30px;
        }
      }
    }
  }

  .footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 59px;
    background-color: #FFFFFF;
    border-top: 1px solid #E2E5E9;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .location {
      margin-right: 20px;
    }
  }
}
