.container {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #6B8BFF;
  width: 100%;
  height: 100%;

  .inputWrap {
    margin: 20px;

    .input {
      width: 100%;
    }
  }

  .mainText {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin-top: 56px;
  }

  .subText {
    font-size: 14px;
    line-height: 16.8px;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
  }

  .mainWrap, .infoWrap {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .infoWrap {
    background: #FFFFFF;
    padding: 40px 20px 20px;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .infoTitle {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 34px;
      color: #434A56;
    }

    .infoList {
      margin-top: 40px;

      .referenceBox {
        padding: 0;
        box-shadow: none;
        margin-bottom: 20px;
      }
    }
  }

  .wrap {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    position: relative;

    .earth {
      position: absolute;
      top: 0;
      left: calc(50% - (650px / 2));
    }

    .bottomSlider {
      position: absolute;
      top: 150px;
      min-height: 100%;
      padding: 24px 20px 59px;
      box-sizing: border-box;

      .topFilter {
        display: flex;
        flex-direction: row;

        .filter {
          margin-right: 12px;
        }

        .filterButton {
          background-color: #6B8BFF;
        }

        .noneFilterButton {
          background-color: #FFFFFF;
        }
      }

      .infoArea {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .totalCount {
          font-size: 14px;
          line-height: 16.8px;
          color: #5A6272;
        }
      }

      .itemList {
        margin-top: 20px;

        a {
          text-decoration: none;
        }

        .item {
          margin-bottom: 30px;
        }
      }
    }
  }

  .footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 59px;
    background-color: #FFFFFF;
    border-top: 1px solid #E2E5E9;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    .location {
      margin-right: 20px;
    }
  }
}
