.searchBar {
  background-color: #456EFF;
  border-radius: 40px;
  border: none;
  padding: 10px 24px;
  box-sizing: border-box;

  color: white;
  font-size: 14px;
  line-height: 20px;

  &::-webkit-input-placeholder {
    color: white;
    opacity: 0.6;
  }
}
